/* This file defines color variables so that the theme can use them */
:root {
  /* Visual Identity Colors */
  --color-primary: #3b4c8f;
  --color-secondary: #ff0022;
  --color-tertiary: #1dd3b0;

  /* Neutral Colors */
  --color-white: #fff;
  --color-dark: #131313;
  --color-gray-1: #fcfcfc;
  --color-gray-2: #ececec;
  --color-gray-3: #c3c3c3;
  --color-inherit: inherit;
  --color-transparent: transparent;

  /* Semantic Colors */
  --color-info: #00bbff;
  --color-alert: #f4973c;
  --color-success: #00e2ad;
}
